<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:fragment="bootstrapcss" th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link th:fragment="customcss" rel="stylesheet" th:href="@{/css/application.css}">
    <link th:fragment="fontawesome" rel="stylesheet" th:href="@{/webjars/fontawesome/4.7.0/css/font-awesome.css}">
</head>
<body>

</body>
</html>